**/cpp/**/*.o
latex/**/*.cls
latex/**/*.clo
latex/**/*.bst
latex/**/*.pdf
latex/**/*.aux
latex/**/*.bbl
latex/**/*.blg
latex/**/*.out
latex/**/*.log
latex/**/*.eps
latex/**/*.dvi
latex/**/*.toc
latex/**/*.lof
latex/**/*.lot
latex/**/*.nav
latex/**/*.snm
latex/**/*.vrb
latex/**/.Rhistory
scripts/experiments_outputs/
scripts/finished_experiments/
scripts/**/.mps
scripts/**/.lp
**/.ipynb_checkpoints/
